

<html>
  <head>
    <style>
    .bgimage {
      background-image: url("https://www.tripadvisor.com/LocationPhotoDirectLink-g60763-d7778097-i160293569-EVEN_Hotel_New_York_Times_Square_South_an_IHG_Hotel-New_York_City_New_Yor.html");
      background-color: #eef1f8;
      height: 750px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
    }
  </style>
  </head>
  <body class="bgimage">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" style="color: crimson" href="#">Revature HBS</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="customer">Customer</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="reception">Receptionist</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="adminlogin">Admin</a>
          </li>
         
        </ul>
      </div>
    </nav>
    <router-outlet></router-outlet>
  </body>
</html>


