<h1  style="color: black; font-style: italic;text-align: center;">{{message1}}</h1>
<h2 style="color: chocolate; font-style: italic;text-align: center;">Removing Hotels</h2>
<form #f="ngForm" (ngSubmit)="deleteHotel(f.value)" >
   <h3 style="color: cadetblue; font-style: italic;text-align: center;">Enter the HotelId to Delete Hotel:--</h3>
   <div style="text-align: center"><input  type="text"   ngModel name="hotelId"><br><br></div>
   
   <div style="text-align: center"> <input type="submit" ></div>
</form>

